<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Screen name</th>
    <th>Created at</th>
    <th>Followers count</th>
    <th>Friends count</th>
    <th>Twitter</th>
    <th>Lang</th>
    <th>Location</th>
    <th>Protected</th>
    <th>Time zone</th>
    <th>Description</th>
    <th>Url</th>
    <th>Utc offset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td>
      <%= image_tag profile.profile_image_url %>
      <%= profile.name %>
    </td>
    <td><%= profile.screen_name %></td>
    <td><%= profile.created_at %></td>
    <td><%= profile.followers_count %></td>
    <td><%= profile.friends_count %></td>
    <td><%= profile.twitter_id %></td>
    <td><%= profile.lang %></td>
    <td><%= profile.location %></td>
    <td><%= profile.protected %></td>
    <td><%= profile.time_zone %></td>
    <td><%= profile.description %></td>
    <td><%= profile.url %></td>
    <td><%= profile.utc_offset %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
