<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @profile.profile_image_url, {:style => 'float:left; margin-right: 3px;'} %>
  @<%= @profile.screen_name %> <i><%= @profile.name %></i>
  (<%= @profile.followers_count %> followers)<br>
  <%= @profile.location %><br/>
  <%= @profile.description %> - <%= link_to @profile.url %>
</div>
<hr>
<% @profile.tweets.each do |t| %>
<div>
    <%= t.text %>
</div>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
