
<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @profile.profile_image_url, {:style => 'float:left; margin-right: 3px;'} %>
  @<%= @profile.screen_name %> <i><%= @profile.name %></i>
  (<%= @profile.followers_count %> followers)<br>
  <%= @profile.location %><br/>
  <%= @profile.description %> - <%= link_to @profile.url %>
</div>
<hr>
<% @profile.tweets.each do |t| %>
  <div class="<%= "from_account" if t.from_account %>">
    <%= t.text %>
  </div>
<% end %>

<% @profile.sheduled_messages.each do |sm| %>
  <div style="color: red"><%= sm.text %></div>
<% end %>

<%= form_for(@sheduled_messages) do |f| %>
<%= f.hidden_field(:account_id, {:value => @profile.account_id}) %>
<%= f.hidden_field(:profile_id, {:value => @profile.id}) %>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, :value => '@'+@profile.screen_name+' ',:rows => 3 %>
  </div>
  <div class="actions">
    <%= f.submit 'Reply' %>
  </div>
<% end %>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
