<h1>Listing tweets</h1>

<table>
  <tr>
    <th>Account</th>
    <th>Profile</th>
    <th>Text</th>
    <th>Created at</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.account.username %></td>
    <td><%= image_tag tweet.profile.profile_image_url %>
        <%= tweet.profile.screen_name %></td>
    <td><%= tweet.text %></td>
    <td><%= tweet.created_at %></td>
    <td><%= raw tweet.source %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweet', new_tweet_path %>
